* {
  box-sizing: border-box;
}

html, body, #project {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
  color: #e8e0ce;
  background: #161b16;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
